@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --fuente: 'Montserrat', sans-serif;
    --primario: #9bc0d9;
    --primarioOscuro: #293241;
    --secundario: #dffbfc;
    --secundarioOscuro: #3d5b81;
    --comodin: #ee6b4d;
    --blanco: #fff;
    --negro: #000;

    --sobraTexto: rgba(255, 255, 255, .75);
    --fondoBody: #DAEAF0;
    --sombraBotones: #FFF23D;
    --sombraCard: #EBEBEB;


}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/**globales**/


body {
    background-color: var(--secundarioOscuro);
    line-height: 2;
    /**labasedelafuentainterlinbeado**/
    font-size: clamp(14px, 4vw, 20px);

}


a {
    text-decoration: none;
}

/* img {
    min-width: 100%;
} */

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    /*centrado de con*/
}

/**utilidades**/

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

/**inician estilos**/

.card-principal {
    border: 2px solid #FFF23D;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bloque1 {
    padding-top: 2rem;
}



.bloque1 .banner {
    width: 50%;
    height: auto;
    object-fit: contain;
    border: 2px solid #FFF23D;
    display: flex;
    margin: 0 auto;
}

.bloque1 .foto {
    width: 30%;
    height: auto;
    object-fit: contain;
    border: 2px solid #FFF23D;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
}

.bloque1 h1 {
    border: 2px solid #FFF23D;
    font-size: 4rem;
    text-align: center;
    font-family: var(--fuente);
    font-weight:400;
}

.bloque1 h2 {
    border: 2px solid #FFF23D;
    font-size: 3rem;
    text-align: center;
    font-family: var(--fuente);
    font-weight: lighter;
}

.bloque1 p {
    border: 2px solid #FFF23D;
    font-size: 1rem;
    text-align: center;
    font-family: var(--fuente);
    font-weight: lighter;
}


.bloque2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 2px solid #FFF23D;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bloque2 img {
    width: 50%;
    height: auto;
    border: 2px solid #FFF23D;
    margin: 0 auto;
    object-fit: contain;
}




/* .card-principal {
    background-color: var(--primarioOscuro);
    color: var(--negro);
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
    border-color: 3px solid coral;
    box-shadow: 0 0 10px var(--sombraCard);
    width: 400px;
    height: 900px;
} */

/* .card-principal img{
    width: 100%;
    height: auto;
    object-fit: contain;

} */

/* .card-principal .foto{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.card-principal img{
    
    box-shadow: 0 0 10px var(--sombraCard);
    border-image: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
} */
/* Estilos por defecto para pantallas pequeñas */

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
    .box {
        padding: 20px;
        font-size: 18px;
    }
}